<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="row">
    <div class="search-input col-sm-5 text-center">
       <a href="#!home"><img src="css/images/Logo.png"/></a> 
    </div>

    <div class="main col-sm-6 text-center">
       <span class="input-group main">
           <input type="text" class="form-control" placeholder="Tìm kiếm...">
           <span class="input-group-append">
               <button class="btn btn-secondary" type="button">
                   <i class="fa fa-search"></i>
               </button>
           </span>
           <a href="#"><img class="langflag float-right" src="css/images/vn.png"/></a>
       <a href="#"><img  class="langflag float-right" src="css/images/en.png"/></a>
       </span>
    </div>
</header>
</body>
</html>