<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!home">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!about">GIỚI THIỆU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!quizs">DANH MỤC MÔN HỌC & THI</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    QUẢN LÝ THÀNH VIÊN
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#!account/edit-account">SỬA ĐỔI THÔNG TIN TÀI KHOẢN</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!account/change-pwd">ĐỔI MẬT KHẨU</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!account/register">ĐĂNG KÝ</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!feedback">GÓP Ý</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!faq">HỎI ĐÁP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!contact">LIÊN HỆ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link dx" href="Login.html">ĐĂNG XUẤT</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>