<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container">
    <h1 class="text-center" style="color: #ff7915;padding: 3%"><b>GÓP Ý VỚI NHÀ TRƯỜNG</b></h1>

    <form>


        <div class="form-group">
            <label for="nd">Đống góp ý kiến:</label>
            <textarea rows="7"   class="form-control" id="nd"   placeholder="Nội dung..." name="nd" required></textarea>
        </div>


        <button type="submit"  class="btn"  style="background-color: #ff9925; color: white">Gửi</button>

    </form>
</div>
<script>

</script>
</body>
</html>