<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div class="container">
    <h1 class="text-center" style="color: #ff7915;padding: 3%"><b>HỎI ĐÁP</b></h1>

    <form>
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" placeholder="Email nhận phản hồi..." name="email" required>
        </div>

            <div class="form-group">
                <label for="nd">Câu Hỏi*</label>
                <textarea rows="3"   class="form-control" id="nd" placeholder="Nhập nội dung câu hỏi..." name="nd" required></textarea>
            </div>


            <button type="submit" class="btn" style="background-color: #ff9925; color: white">Gửi</button>

    </form>
</div>

</body>
</html>