<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<div class="container">
    <h1 class="text-center" style="color: #ff7915;padding: 3%"><b>LIÊN HỆ VỚI CHÚNG TÔI</b></h1>

    <form>
        <div class="form-group">
            <label for="name">Họ tên *</label>
            <input type="text" class="form-control" id="name" placeholder="Họ tên..." name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" id="email" placeholder="Email..." name="email" required>
        </div>
        <div class="form-group">
            <label for="sdt">Số điện thoại *</label>
            <input type="number" class="form-control" id="sdt" placeholder="Số điện thoại..." name="sdt" required>
        </div>
        <div class="form-group">
            <label for="nd">Nội dung *</label>
            <textarea  class="form-control" id="nd" placeholder="Nội dung..." name="nd" required></textarea>
        </div>


        <button type="submit" class="btn" style="background-color: #ff9925; color: white">Gửi</button>

    </form>
</div>

</body>
</html>